    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    body {
        min-width: 320px;
        margin-top: 60px;
        background-color: white;
    }
    
    .l-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 12px;
        padding-right: 12px;
        overflow: hidden;
        *zoom: 1;
    }
    
    .push {
        min-height: 221px;
        margin-bottom: 50px;
    }
    
    a,
    a:link,
    a:hover,
    a:active {
        color: #006595;
        text-decoration: none;
    }
    
    .fixedHeader {
        background: white;
        min-width: 320px;
        padding: 12px 12px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid #e3e3e3;
        height: 60px;
        -moz-transition: all ease 200ms;
        -o-transition: all ease 200ms;
        -webkit-transition: all ease 200ms;
        transition: all ease 200ms;
        z-index: 6;
        box-sizing: border-box;
    }
    
    .logo {
        float: left;
        display: inline-block;
        width: 200px;
        height: 34px;
    }
    
    nav {
        padding: 0;
        margin: 0;
        font-family: "LinetoBrown", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
        float: right;
        padding: 0;
        height: 100%;
        line-height: 100%;
    }
    
    nav ul li {
        list-style: none;
        display: inline-block;
        background: transparent;
        font-size: 14px;
        margin-left: 5px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid transparent;
        color: #70cde3;
        text-decoration: none;
        height: 100%;
        line-height: 33px;
    }
    
    .navItem a {
        color: #6d6e71;
        display: inline-block;
        padding: 0 8px;
        height: 100%;
    }
    
    h1 {
        font-family: "FreightTextPro", Georgia, serif;
        line-height: 1.2;
        text-align: center;
        letter-spacing: NaNpx;
        opacity: 1;
        font-weight: bold;
        text-align: center;
        color: #006693;
        opacity: 1;
        font-size: 2.66em;
        margin: 3rem 0rem 0.375rem;
    }
    
    h2 {
        font-size: 27px;
        font-size: 2.2rem;
        text-align: center;
        font-family: "LinetoBrown", Helvetica, Arial, Verdana, sans-serif;
        letter-spacing: 0px;
        color: #006693;
        margin: 0 auto 60px;
        font-weight: 300;
        line-height: 1.2;
    }
    
    .lifestyles {
        font-family: "LinetoBrown", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
        position: relative;
        font-size: 16px;
        font-size: 1.6rem;
        background-color: #f0f0f0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        -moz-transition: height 0.3s;
        -o-transition: height 0.3s;
        -webkit-transition: height 0.3s;
        transition: height 0.3s;
    }
    
    .lifestyles-interstitial {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 1.0;
        text-align: center;
        cursor: default;
        -moz-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        overflow: hidden;
        display: table;
        z-index: 5;
        background: rgb(0, 102, 147);
        background: linear-gradient(180deg, rgba(0, 102, 147, 1) 0%, rgba(0, 102, 147, 1) 60%, rgba(168, 203, 218, 1) 86%, rgba(255, 255, 255, 1) 100%);
    }
    
    .lifestyles-interstitial .l-container {
        text-align: left;
    }
    
    .l-container {
        max-width: 1225px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 12px;
        padding-right: 12px;
        overflow: hidden;
        *zoom: 1;
    }
    
    .lifestyles-interstitial__content {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        padding: 76px 0;
        width: 46%;
        max-width: 520px;
    }
    
    .lifestyles-interstitial__slogan {
        font-weight: 500;
        text-shadow: none;
        padding: 20px 20px 50px 0;
        font-size: 3.6rem;
        margin-top: 0;
        color: white;
    }
    
    .lifestyles-interstitial__content .btn--solid.btn--primary {
        padding: 15px 70px;
        display: inline;
        margin: 30px 0 0 0;
    }
    
    .lifestyles .btn--primary,
    input[type=submit] {
        font-size: 21px;
    }
    
    .btn--solid.btn--primary,
    input[type=submit] {
        background-color: #EE523B;
        color: white;
        padding: 15px 25px;
        border-radius: 6px;
    }
    
    .btn {
        font-family: "LinetoBrown", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
        font-weight: 300;
        text-align: center;
        -moz-transition: background-color 0.1s, border-color 0.1s, color 0.1s;
        -o-transition: background-color 0.1s, border-color 0.1s, color 0.1s;
        -webkit-transition: background-color 0.1s, border-color 0.1s, color 0.1s;
        transition: background-color 0.1s, border-color 0.1s, color 0.1s;
    }
    
    .lifestyles-interstitial .l-container .content-zone {
        display: inline-block;
        text-align: center;
        padding: 40px 0 0 0;
        width: 50%;
    }
    
    .org-collections img:hover {
        max-width: 221px;
        box-shadow: 5px 5px 35px #000;
    }
    
    .org-collections img {
        width: 100%;
        max-width: 150px;
        box-shadow: 1px 1px 5px #333;
        transition: all .4s ease;
        -webkit-transition: all .4s ease;
    }
    
    .org-collections {
        margin-bottom: 50px;
        padding: 0;
    }
    
    .org-collections .insider {
        display: inline-block;
        vertical-align: middle;
        margin: 0 -27px;
        position: relative;
    }
    /* footer*/
    
    .site-footer-container {
        background: rgba(6, 35, 64, 0.85);
        color: white;
        padding: 40px 0 20px;
    }
    
    .site-footer {
        margin-left: -12px;
        margin-right: -12px;
        overflow: hidden;
        *zoom: 1;
        font-family: "LinetoBrown", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
        font-size: 12px;
        font-size: 1.4rem;
        padding-top: 19.2px;
        padding-top: 1.2rem;
        padding-bottom: 19.2px;
        padding-bottom: 1.2rem;
    }
    
    .site-footer__section,
    .site-footer__fineprint {
        position: relative;
        float: left;
        width: 50%;
        min-height: 1px;
        padding-left: 12px;
        padding-right: 12px;
        position: relative;
        min-height: 1px;
        padding-left: 12px;
        padding-right: 12px;
        position: relative;
        min-height: 1px;
        padding-left: 12px;
        padding-right: 12px;
    }
    
    .site-footer__section-heading {
        margin: 0px 0px 9.6px;
        margin: 0rem 0rem 0.6rem;
        color: #f0f0f0;
        font-size: 12px;
        font-size: 1.2rem;
    }
    
    .site-footer__list {
        list-style: none;
        margin: 0px 0px 19.2px;
        margin: 0rem 0rem 1.2rem;
        padding: 0;
        line-height: 1.5;
    }
    
    .site-footer__list li {
        line-height: 1.5;
    }
    
    p,
    li {
        letter-spacing: 0.01rem;
        font-weight: 400;
    }
    
    .site-footer a,
    .site-footer a:link,
    .site-footer a:hover,
    .site-footer a:active {
        color: #70cde3;
        text-decoration: none;
    }
    
    .site-footer__section,
    .site-footer__fineprint {
        float: left;
        width: 25%;
    }
    
    div.books {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 208px;
    }
    
    div.books:hover {
        border: 1px solid #777;
    }
    
    div.books img {
        margin: 0;
        padding: 0;
        width: 206px;
        height: 200px;
    }
    
    div.desc {
        padding: 15px;
        text-align: center;
        color: rgb(243, 103, 10);
        font-size: 10px;
        font-weight: bold;
    }
    
    input[type=text],
    select,
    textarea {
        width: 100%;
        /* Full width */
        padding: 12px;
        /* Some padding */
        border: 1px solid #ccc;
        /* Gray border */
        border-radius: 4px;
        /* Rounded borders */
        box-sizing: border-box;
        /* Make sure that padding and width stays in place */
        margin-top: 6px;
        /* Add a top margin */
        margin-bottom: 16px;
        /* Bottom margin */
        resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
    }
    
    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
    
    form {
        font-family: "LinetoBrown", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
        font-size: 12px;
        font-size: 1.4rem;
        padding-top: 19.2px;
        padding-bottom: 19.2px;
        color: oldlace;
    }